<!DOCTYPE html>
<html lang="ru">
<head>
        <script src="/static/scripts/main.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Народы Самары{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_page.css') }}">



</head>
<body>
<nav>
        <h1>Многонациональная Самара</h1>
        <div id="profile">
            <h2 id="profilelabel" style="margin:0; font-size: 1.2rem;color: 18020c;">Войти</h2>
            <div id="options">

				<a href="/edit" id="f">Ред. <br>профиль</a>
				<br>
				<a href="/favorites" id="s">Избранные<br> точки</a>
				<br>
				<a href="/logout" id="t">Выйти</a>

            </div>
        </div>
    </nav>

<main>
    {% block content %}{% endblock %}
</main>


</body>
</html>