<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/form_.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/log.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/game.css"/>

		<script src="/static/scripts/main.js"></script>
		<script src="/static/scripts/buttons.js"></script>
    </head>
    <body>
		<div class="navigation">
            <h1>FINDKEY</h1>
			<h2><a href="/search">поиск</a></h2>
        <div id = "profile">
			<h2 id = "profilelabel"> войти
			</h2>
			<div id="options">
				<br>
				<a href="/edit" id="f">Ред. <br>профиль</a>
				<br>
				<a href="/liked" id="s">Избранные<br> игры</a>
				<br>
				<a href="/logout" id="t">Выйти</a>
			</div>
        </div>
	
			
    </div>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1 id="name_of_game">{{ name_ }}</h1>
		<br>
		<br>
		<br>
		<br>
		
	{% for elem in prices %}
			{% if prices[elem] and prices[elem] != "СКОРО"%}
				<h3>{{prices[elem]}}₽ - - - - - > <a id="link_" href={{links[elem]}}>{{links[elem]}}</a></h3>
			{% endif %}
			{% endfor %}
	<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
		<br>
		<br>
		<br>
		<br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
	<br>
	<a href="/" id="back">На главную</a>
	</body>
</html>