<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/log.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/validate_email.css"/>


    </head>
    <body>
		<div class="navigation">
            <h1>FINDKEY</h1>
			<h2>подтверждение почты</h2>
        
        </div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.code.label(id="login") }}<br>
        {{ form.code(class="form-control") }}<br>
        {% for error in form.code.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
	{% if message %}
			<div class="alert alert-danger" role="alert">
        		{{ message }}
    		</div>
	{% endif %}
</form>
	</body>
</html>